doctype html
html
  head
    title Prisoner's Dilemma Tournament
  body
    h1 Tournament Results
    h3='Winner: ' + winner
    ul
        each game, index in games
            - var parsedGame = JSON.parse(game)
            li= 'Game ' + index + ': ' + parsedGame.agent1Result.id + ': ' + parsedGame.agent1Result.totalScore + ', ' + parsedGame.agent2Result.id + ': ' + parsedGame.agent2Result.totalScore
