doctype html
html
  head
    title Prisoner's Dilemma Tournament
  body
    button#runSimButton Run Simulation
    script(type='text/javascript').
        const runSimButton = document.getElementById('runSimButton')

        runSimButton?.addEventListener('click', async () => {
            // TODO How do we get the fastify server address here?
            const response = await fetch('http://localhost:3000/runButtonPressed', {
                method: 'POST',
            });

            const data = await response;
            console.log(data)

            // hacky trick to reload page so we pick up updates :)
            location.reload();
        })

    h1 Tournament Results
    h3='Winner: ' + winner
    ul
        each game, index in games
            - var parsedGame = JSON.parse(game)
            li= 'Game ' + index + ': ' + parsedGame.agent1Result.id + ': ' + parsedGame.agent1Result.totalScore + ', ' + parsedGame.agent2Result.id + ': ' + parsedGame.agent2Result.totalScore
